.heading{
    text-align: center;
font-family: 'Josefin Sans';
font-size: 42px;
line-height: 49px;
color: #151875;
margin: 30px 0;
}

.main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ul{
    display: flex;
    gap: 20px;
    list-style: none;
    cursor: pointer;
    color:#151875;
}
.li{
    transition: all 0.3s ease;
}
.li:hover{
    color:#FB2E86;
}

.cont{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.left{
    width: 30%;
}
.product{
font-family: 'Josefin Sans';
font-size: 35px;
line-height: 132%;
/* or 46px */
letter-spacing: 0.015em;
color: #151875;
}

.despink{
font-family: 'Josefin Sans';
font-size: 21px;
line-height: 132%;
letter-spacing: 0.015em;
color: #FB2E86;


}

.des2{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 17px;
/* line-height: 30px; */
/* or 176% */
letter-spacing: 0.02em;

color: #B7BACB;


}

.ulProduct{
    margin-top: 20px;
    word-spacing: 3px;
    list-style-image: url(/img/greentick.svg);
    list-style-position: inside;
    word-wrap: break-word;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #B8B8DC;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}


.chair{
    width: 20%;
}

@media screen and (max-width:1000px){
    .cont{
        flex-direction: column;
        align-items: center;
    }
    .chair{
        width: 60%;
        order: 1;
    }
}

@media screen and (max-width:500px){
    .li{
        font-size: 12px;
    }
}
