.main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.heading{
font-family: 'Josefin Sans';
font-size: 42px;
line-height: 49px;
color: #151875;
}

.shopping{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

}

.card{
    width: 300px;
    height: 270px;
    background-color: #FFF6FB;
    padding: 20px;
}
