.main{
    width: 100vw;
    background-color: #F1F0FF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sofa{
    width: 40%;
    min-width: 220px;
}
.cont{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap:20px;

}
.heading{
font-family: 'Josefin Sans';
font-size: 35px;
line-height: 132%;
letter-spacing: 0.015em;
color: #151875;

}
.ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.li{
font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 132%;
letter-spacing: 0.015em;
color: #ACABC3;

}
.btndiv{
    display: flex;
    gap: 20px;
}
.btn{
padding: 10px 20px;
background: #FB2E86;
border-radius: 2px;
color: white;


}